<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.alexvt.integrity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:name=".App"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        >

        <activity
            android:name="com.alexvt.integrity.base.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.alexvt.integrity.base.activity.LogViewActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            >
        </activity>

        <activity
            android:name="com.alexvt.integrity.type.blog.BlogTypeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.alexvt.integrity.core.ACTION_VIEW" />
            </intent-filter>
        </activity>

        <activity
            android:exported="true"
            android:name="com.alexvt.integrity.base.activity.FolderLocationsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:exported="true"
            android:name="com.alexvt.integrity.base.activity.TagsActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.alexvt.integrity.core.filesystem.local.LocalLocationActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="com.alexvt.integrity.core.filesystem.samba.SambaLocationActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <receiver android:name="com.alexvt.integrity.core.util.SnapshotSavingUtil$SnapshotProgressReceiver" >
            <intent-filter>
                <action android:name="com.alexvt.integrity.SNAPSHOT_DOWNLOAD_PROGRESS" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.alexvt.integrity.core.log.LoggingUtil$LogEntryReceiver" >
            <intent-filter>
                <action android:name="com.alexvt.integrity.LOG_ENTRY_ADDED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.alexvt.integrity.core.log.LoggingUtil$CrashRecoveryReceiver"
            android:process=":recovery"
            >
            <intent-filter>
                <action android:name="com.alexvt.integrity.CRASH_RECOVERY" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.alexvt.integrity.core.log.LoggingUtil$LogReadReceiver" >
            <intent-filter>
                <action android:name="com.alexvt.integrity.LOG_READ" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.alexvt.integrity.core.util.AutoStartUtil$AutoStartReceiver"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.alexvt.integrity.type.blog.BlogTypeService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            >
            <intent-filter>
                <action android:name="com.alexvt.integrity.SNAPSHOT_DOWNLOAD" />
            </intent-filter>
        </service>

    </application>

</manifest>