<!--
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alexvt.integrity.lib" >

    <uses-permission android:name="com.alexvt.integrity.ExtensionPermission" />

    <application>

        <receiver android:name=".android.operations.snapshots.SnapshotDownloadStartRequest$PackageWideReceiver">
            <intent-filter>
                <action android:name="com.alexvt.integrity.SNAPSHOT_DOWNLOAD_START"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".android.operations.snapshots.SnapshotDownloadCancelRequest$PackageWideReceiver">
            <intent-filter>
                <action android:name="com.alexvt.integrity.SNAPSHOT_DOWNLOAD_CANCEL"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
